@font-face {
  font-family: 'SBAggroL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
div {
  height: 100%;
  width: 100%;
  margin-top: 100%;
}
footer {
  vertical-align: bottom;
  border-top: 1px solid black;
  margin: 0px;
  font-size: small;
  padding-top: 3%;
  font-family: Pretendard-Regular -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
a {
  font-family: Pretendard-Regular -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  text-decoration: none;
  color: black;
}
input {
  border-radius: 10px;
  vertical-align: center;
  padding-bottom: 12px;
  height: 20px;
  width: auto;
  font-size: smaller;
  margin-top: 20px;
  padding-top: 20px;
}
h1 {
  padding-top: 40px;
  margin-top:40px;
}
* {
  font-family: 'SBAggroL', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  text-align: center;
}
